.create-input {
    border: 1px solid #1F689E !important;
    filter: drop-shadow(3px 5px 5px rgba(92, 174, 150, 0.55)) !important;
    border-radius: 10px !important;
}

.create-label {
    color: #6D8DA6;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px !important;

}

.file-btn {
    background: linear-gradient(102.3deg, #4785B3 41.05%, #0CC1F2 118.58%) !important;
    box-shadow: 3px 5px 16px rgba(92, 174, 235, 0.55) !important;
    border-radius: 10px !important;
    font-weight: 500 !important;
}